<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>ShadowBlip Steam Removable Media Support</vendor>
  <vendor_url>http://www.github.com/shadowblip</vendor_url>

  <action id="org.shadowblip.pkexec.run-format-media">
    <description>Format removable media and add it as a Steam library</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/shadowblip/format-media</annotate>
  </action>

  <action id="org.shadowblip.pkexec.run-init-media">
    <description>Add existing removable media partition as a Steam library</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/shadowblip/init-media</annotate>
  </action>

  <action id="org.shadowblip.pkexec.run-format-sdcard">
    <description>Run the Steam GamepadUI Format SD Card function</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-polkit-helpers/steamos-format-sdcard</annotate>
  </action>

  <action id="org.shadowblip.pkexec.run-trim-devices">
    <description>Run the steam trim storage devices helper</description>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-polkit-helpers/steamos-trim-devices</annotate>
  </action>

  <action id="org.shadowblip.pkexec.run-retrigger-automounts">
    <description>Retrigger media device mounts by issuing a reload to all running media-mount@ services</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-polkit-helpers/steamos-retrigger-automounts</annotate>
  </action>

</policyconfig>
