/* Allow members of the wheel group to execute the defined actions 
 * without password authentication, similar to "sudo NOPASSWD:"
 */
polkit.addRule(function(action, subject) {
    if ((action.id == "org.shadowblip.format-sdcard" ||
	 action.id == "org.shadowblip.format-media") &&
        subject.isInGroup("wheel"))
    {
        return polkit.Result.YES;
    }
});
